**/bin/
**/build/
**/.gradle/
**/logs/
**/target/
**/classes/


#### STS ###
**/.classpath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea/
**/target/
**/*.iws
**/*.iml
**/*.ipr
**/out/
**/.DS_Store
**/src/.DS_Store

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/.factorypath
**/.java-version